--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: cleanup_expired_blocked_cells(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_blocked_cells() RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    deleted_count INTEGER;

BEGIN

    DELETE FROM blocked_cells WHERE unblock_time <= CURRENT_TIMESTAMP;

    GET DIAGNOSTICS deleted_count = ROW_COUNT;

    RETURN deleted_count;

END;

$$;


ALTER FUNCTION public.cleanup_expired_blocked_cells() OWNER TO postgres;

--
-- Name: cleanup_expired_shelf_locks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_shelf_locks() RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    deleted_count INTEGER;

BEGIN

    DELETE FROM shelf_locks 

    WHERE CURRENT_TIMESTAMP > (heartbeat_timestamp + INTERVAL '1 second' * lock_timeout_seconds);

    GET DIAGNOSTICS deleted_count = ROW_COUNT;

    RETURN deleted_count;

END;

$$;


ALTER FUNCTION public.cleanup_expired_shelf_locks() OWNER TO postgres;

--
-- Name: get_blocked_cells_for_robot(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_blocked_cells_for_robot(p_robot_id character varying) RETURNS TABLE(cell_id character varying, unblock_time timestamp without time zone, block_reason character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    SELECT bc.cell_id, bc.unblock_time, bc.block_reason

    FROM blocked_cells bc

    WHERE bc.unblock_time > CURRENT_TIMESTAMP

    AND (bc.blocked_by_robot != p_robot_id OR bc.blocked_by_robot IS NULL);

END;

$$;


ALTER FUNCTION public.get_blocked_cells_for_robot(p_robot_id character varying) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    task_id text NOT NULL,
    order_id text NOT NULL,
    robot_id text,
    item_id text NOT NULL,
    quantity integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    creation_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    start_time timestamp without time zone,
    completion_time timestamp without time zone,
    dropoff_x double precision NOT NULL,
    dropoff_y double precision NOT NULL,
    CONSTRAINT tasks_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT tasks_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'assigned'::text, 'in_progress'::text, 'completed'::text, 'failed'::text])))
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: get_next_task(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_next_task(p_robot_id text) RETURNS SETOF public.tasks
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- First check if robot already has an active task

    RETURN QUERY

    SELECT *

    FROM tasks

    WHERE robot_id = p_robot_id AND status IN ('assigned', 'in_progress')

    LIMIT 1;

    

    -- If no rows returned, get the next pending task

    IF NOT FOUND THEN

        RETURN QUERY

        SELECT *

        FROM tasks

        WHERE status = 'pending'

        ORDER BY creation_time ASC

        LIMIT 1;

    END IF;

END;

$$;


ALTER FUNCTION public.get_next_task(p_robot_id text) OWNER TO postgres;

--
-- Name: get_queue_position(character varying, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_queue_position(p_box_id character varying, p_robot_id character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
                        DECLARE
                            pos INTEGER;
                        BEGIN
                            SELECT COUNT(*) + 1 INTO pos
                            FROM conflict_box_queue
                            WHERE box_id = p_box_id
                            AND (priority > (SELECT priority FROM conflict_box_queue WHERE box_id = p_box_id AND robot_id = p_robot_id)
                                 OR (priority = (SELECT priority FROM conflict_box_queue WHERE box_id = p_box_id AND robot_id = p_robot_id)
                                     AND queue_time < (SELECT queue_time FROM conflict_box_queue WHERE box_id = p_box_id AND robot_id = p_robot_id)));
                            RETURN pos;
                        END;
                        $$;


ALTER FUNCTION public.get_queue_position(p_box_id character varying, p_robot_id character varying) OWNER TO postgres;

--
-- Name: update_queue_positions(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_queue_positions(p_box_id character varying) RETURNS void
    LANGUAGE plpgsql
    AS $$
                        BEGIN
                            UPDATE conflict_box_queue
                            SET position = CASE
                                WHEN ROW_NUMBER() OVER (ORDER BY priority DESC, queue_time ASC) = 1 THEN 'next_in_line'
                                ELSE 'queued'
                            END,
                            updated_at = CURRENT_TIMESTAMP
                            WHERE box_id = p_box_id AND position != 'lock_acquired';
                        END;
                        $$;


ALTER FUNCTION public.update_queue_positions(p_box_id character varying) OWNER TO postgres;

--
-- Name: update_queue_positions_simple(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_queue_positions_simple(p_box_id character varying) RETURNS void
    LANGUAGE sql
    AS $$

SELECT NULL;

$$;


ALTER FUNCTION public.update_queue_positions_simple(p_box_id character varying) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

--
-- Name: blocked_cells; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blocked_cells (
    cell_id character varying(36) NOT NULL,
    unblock_time timestamp without time zone NOT NULL,
    blocked_by_robot character varying(36),
    block_reason character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.blocked_cells OWNER TO postgres;

--
-- Name: TABLE blocked_cells; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.blocked_cells IS 'Dynamically blocked lanes/cells for obstacle avoidance';


--
-- Name: COLUMN blocked_cells.unblock_time; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.blocked_cells.unblock_time IS 'Timestamp when the cell will be automatically unblocked';


--
-- Name: active_blocked_cells; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.active_blocked_cells AS
 SELECT cell_id,
    blocked_by_robot,
    block_reason,
    unblock_time,
    EXTRACT(epoch FROM ((unblock_time)::timestamp with time zone - CURRENT_TIMESTAMP)) AS seconds_until_unblock,
    created_at
   FROM public.blocked_cells
  WHERE (unblock_time > CURRENT_TIMESTAMP);


ALTER VIEW public.active_blocked_cells OWNER TO postgres;

--
-- Name: conflict_box_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conflict_box_locks (
    box_id character varying(36) NOT NULL,
    locked_by_robot character varying(36) NOT NULL,
    priority integer DEFAULT 0,
    locked_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    heartbeat_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    lock_timeout_seconds integer DEFAULT 30,
    robot_inside boolean DEFAULT false
);


ALTER TABLE public.conflict_box_locks OWNER TO postgres;

--
-- Name: conflict_box_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conflict_box_queue (
    id integer NOT NULL,
    box_id character varying(50) NOT NULL,
    robot_id character varying(50) NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    queue_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    timeout_time timestamp without time zone NOT NULL,
    "position" character varying(20) DEFAULT 'queued'::character varying NOT NULL,
    estimated_wait_time real DEFAULT 0.0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conflict_box_queue OWNER TO postgres;

--
-- Name: conflict_box_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conflict_box_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conflict_box_queue_id_seq OWNER TO postgres;

--
-- Name: conflict_box_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conflict_box_queue_id_seq OWNED BY public.conflict_box_queue.id;


--
-- Name: conflict_box_queue_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conflict_box_queue_stats (
    box_id character varying(36) NOT NULL,
    total_requests bigint DEFAULT 0,
    successful_acquisitions bigint DEFAULT 0,
    timeouts bigint DEFAULT 0,
    cancellations bigint DEFAULT 0,
    total_wait_time numeric(10,2) DEFAULT 0.0,
    total_lock_time numeric(10,2) DEFAULT 0.0,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conflict_box_queue_stats OWNER TO postgres;

--
-- Name: conflict_boxes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conflict_boxes (
    box_id character varying(36) NOT NULL,
    center_x numeric(10,3) NOT NULL,
    center_y numeric(10,3) NOT NULL,
    size numeric(5,3) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT conflict_boxes_size_check CHECK ((size > (0)::numeric))
);


ALTER TABLE public.conflict_boxes OWNER TO postgres;

--
-- Name: TABLE conflict_boxes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.conflict_boxes IS 'Conflict boxes for intersection management';


--
-- Name: navigation_graph_nodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.navigation_graph_nodes (
    node_id character varying(36) NOT NULL,
    position_x numeric(10,3) NOT NULL,
    position_y numeric(10,3) NOT NULL,
    directions jsonb NOT NULL,
    is_conflict_box boolean DEFAULT false,
    conflict_box_id character varying(36),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.navigation_graph_nodes OWNER TO postgres;

--
-- Name: TABLE navigation_graph_nodes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.navigation_graph_nodes IS 'Navigation graph nodes for path planning';


--
-- Name: COLUMN navigation_graph_nodes.directions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.navigation_graph_nodes.directions IS 'JSON array of available exit directions (N,S,E,W)';


--
-- Name: conflict_boxes_with_nodes; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.conflict_boxes_with_nodes AS
 SELECT cb.box_id,
    cb.center_x,
    cb.center_y,
    cb.size,
    count(ngn.node_id) AS associated_nodes,
    cb.created_at,
    cb.updated_at
   FROM (public.conflict_boxes cb
     LEFT JOIN public.navigation_graph_nodes ngn ON (((cb.box_id)::text = (ngn.conflict_box_id)::text)))
  GROUP BY cb.box_id, cb.center_x, cb.center_y, cb.size, cb.created_at, cb.updated_at;


ALTER VIEW public.conflict_boxes_with_nodes OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    item_id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: TABLE items; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.items IS 'Catalog of all items that can be stored in the warehouse';


--
-- Name: kpi_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_logs (
    id integer NOT NULL,
    event_type character varying(50) NOT NULL,
    robot_id character varying(36) NOT NULL,
    event_data jsonb NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    simulation_run_id character varying(36)
);


ALTER TABLE public.kpi_logs OWNER TO postgres;

--
-- Name: kpi_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kpi_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kpi_logs_id_seq OWNER TO postgres;

--
-- Name: kpi_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kpi_logs_id_seq OWNED BY public.kpi_logs.id;


--
-- Name: lanes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lanes (
    lane_id character varying(36) NOT NULL,
    direction character varying(10) NOT NULL,
    waypoints jsonb NOT NULL,
    is_goal_only boolean DEFAULT false,
    bay_id character varying(36),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT lanes_direction_check CHECK (((direction)::text = ANY ((ARRAY['N'::character varying, 'S'::character varying, 'E'::character varying, 'W'::character varying, 'B'::character varying])::text[])))
);


ALTER TABLE public.lanes OWNER TO postgres;

--
-- Name: TABLE lanes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lanes IS 'Lane definitions for lane-based navigation system';


--
-- Name: COLUMN lanes.waypoints; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lanes.waypoints IS 'JSON array of [x,y] coordinate pairs defining the lane path';


--
-- Name: lanes_detailed; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.lanes_detailed AS
 SELECT lane_id,
    direction,
    waypoints,
    is_goal_only,
    bay_id,
    jsonb_array_length(waypoints) AS waypoint_count,
    created_at,
    updated_at
   FROM public.lanes;


ALTER VIEW public.lanes_detailed OWNER TO postgres;

--
-- Name: navigation_graph_edges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.navigation_graph_edges (
    edge_id character varying(36) DEFAULT public.uuid_generate_v4() NOT NULL,
    from_node character varying(36) NOT NULL,
    to_node character varying(36) NOT NULL,
    direction character varying(10) NOT NULL,
    distance numeric(10,3) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT navigation_graph_edges_direction_check CHECK (((direction)::text = ANY ((ARRAY['N'::character varying, 'S'::character varying, 'E'::character varying, 'W'::character varying])::text[]))),
    CONSTRAINT navigation_graph_edges_distance_check CHECK ((distance > (0)::numeric))
);


ALTER TABLE public.navigation_graph_edges OWNER TO postgres;

--
-- Name: TABLE navigation_graph_edges; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.navigation_graph_edges IS 'Navigation graph edges connecting nodes';


--
-- Name: navigation_graph_connectivity; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.navigation_graph_connectivity AS
 SELECT n.node_id,
    n.position_x,
    n.position_y,
    n.is_conflict_box,
    count(e_out.edge_id) AS outgoing_edges,
    count(e_in.edge_id) AS incoming_edges,
    (count(e_out.edge_id) + count(e_in.edge_id)) AS total_connections
   FROM ((public.navigation_graph_nodes n
     LEFT JOIN public.navigation_graph_edges e_out ON (((n.node_id)::text = (e_out.from_node)::text)))
     LEFT JOIN public.navigation_graph_edges e_in ON (((n.node_id)::text = (e_in.to_node)::text)))
  GROUP BY n.node_id, n.position_x, n.position_y, n.is_conflict_box;


ALTER VIEW public.navigation_graph_connectivity OWNER TO postgres;

--
-- Name: raw_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_orders (
    order_id text NOT NULL,
    item_id text NOT NULL,
    quantity integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    creation_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completion_time timestamp without time zone,
    CONSTRAINT raw_orders_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT raw_orders_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'processing'::text, 'fulfilled'::text, 'cancelled'::text])))
);


ALTER TABLE public.raw_orders OWNER TO postgres;

--
-- Name: order_metrics; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.order_metrics AS
 SELECT count(*) AS total_orders,
    sum(
        CASE
            WHEN (status = 'pending'::text) THEN 1
            ELSE 0
        END) AS pending_orders,
    sum(
        CASE
            WHEN (status = 'processing'::text) THEN 1
            ELSE 0
        END) AS processing_orders,
    sum(
        CASE
            WHEN (status = 'fulfilled'::text) THEN 1
            ELSE 0
        END) AS fulfilled_orders,
    sum(
        CASE
            WHEN (status = 'cancelled'::text) THEN 1
            ELSE 0
        END) AS cancelled_orders,
    avg(
        CASE
            WHEN ((status = 'fulfilled'::text) AND (completion_time IS NOT NULL)) THEN EXTRACT(epoch FROM (completion_time - creation_time))
            ELSE NULL::numeric
        END) AS avg_fulfillment_time_seconds
   FROM public.raw_orders;


ALTER VIEW public.order_metrics OWNER TO postgres;

--
-- Name: robot_metrics; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.robot_metrics AS
 SELECT robot_id,
    count(*) AS total_tasks,
    sum(
        CASE
            WHEN (status = 'completed'::text) THEN 1
            ELSE 0
        END) AS completed_tasks,
    sum(
        CASE
            WHEN (status = 'failed'::text) THEN 1
            ELSE 0
        END) AS failed_tasks,
    avg(
        CASE
            WHEN ((status = 'completed'::text) AND (completion_time IS NOT NULL) AND (start_time IS NOT NULL)) THEN EXTRACT(epoch FROM (completion_time - start_time))
            ELSE NULL::numeric
        END) AS avg_task_time_seconds
   FROM public.tasks
  WHERE (robot_id IS NOT NULL)
  GROUP BY robot_id;


ALTER VIEW public.robot_metrics OWNER TO postgres;

--
-- Name: robots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.robots (
    robot_id character varying(36) NOT NULL,
    name character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.robots OWNER TO postgres;

--
-- Name: TABLE robots; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.robots IS 'Robot definitions and configurations';


--
-- Name: shelf_approach_cells; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shelf_approach_cells (
    id integer NOT NULL,
    shelf_id character varying(36) NOT NULL,
    approach_x numeric(10,3) NOT NULL,
    approach_y numeric(10,3) NOT NULL,
    distance_to_shelf numeric(10,3) NOT NULL,
    grid_x integer NOT NULL,
    grid_y integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shelf_approach_cells OWNER TO postgres;

--
-- Name: shelf_approach_cells_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shelf_approach_cells_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shelf_approach_cells_id_seq OWNER TO postgres;

--
-- Name: shelf_approach_cells_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shelf_approach_cells_id_seq OWNED BY public.shelf_approach_cells.id;


--
-- Name: shelf_inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shelf_inventory (
    id integer NOT NULL,
    shelf_id character varying(36) NOT NULL,
    item_id character varying(36) NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shelf_inventory OWNER TO postgres;

--
-- Name: TABLE shelf_inventory; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.shelf_inventory IS 'Current inventory quantities on each shelf';


--
-- Name: shelf_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shelf_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shelf_inventory_id_seq OWNER TO postgres;

--
-- Name: shelf_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shelf_inventory_id_seq OWNED BY public.shelf_inventory.id;


--
-- Name: shelves; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shelves (
    shelf_id character varying(36) NOT NULL,
    position_x numeric(10,3) NOT NULL,
    position_y numeric(10,3) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shelves OWNER TO postgres;

--
-- Name: TABLE shelves; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.shelves IS 'Physical shelf locations in the warehouse';


--
-- Name: shelf_inventory_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.shelf_inventory_view AS
 SELECT s.shelf_id,
    s.position_x,
    s.position_y,
    i.item_id,
    i.name AS item_name,
    si.quantity,
    si.updated_at
   FROM ((public.shelves s
     JOIN public.shelf_inventory si ON (((s.shelf_id)::text = (si.shelf_id)::text)))
     JOIN public.items i ON (((si.item_id)::text = (i.item_id)::text)));


ALTER VIEW public.shelf_inventory_view OWNER TO postgres;

--
-- Name: shelf_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shelf_locks (
    shelf_id character varying(36) NOT NULL,
    robot_id character varying(36) NOT NULL,
    locked_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shelf_locks OWNER TO postgres;

--
-- Name: TABLE shelf_locks; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.shelf_locks IS 'Enhanced shelf locking with heartbeat mechanism';


--
-- Name: simulation_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simulation_metrics (
    id integer NOT NULL,
    metric_name character varying(100) NOT NULL,
    metric_value numeric(15,3),
    metric_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    simulation_run_id character varying(36)
);


ALTER TABLE public.simulation_metrics OWNER TO postgres;

--
-- Name: TABLE simulation_metrics; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.simulation_metrics IS 'Performance metrics collected during simulation runs';


--
-- Name: simulation_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.simulation_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.simulation_metrics_id_seq OWNER TO postgres;

--
-- Name: simulation_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.simulation_metrics_id_seq OWNED BY public.simulation_metrics.id;


--
-- Name: task_metrics; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.task_metrics AS
 SELECT count(*) AS total_tasks,
    sum(
        CASE
            WHEN (status = 'pending'::text) THEN 1
            ELSE 0
        END) AS pending_tasks,
    sum(
        CASE
            WHEN (status = 'assigned'::text) THEN 1
            ELSE 0
        END) AS assigned_tasks,
    sum(
        CASE
            WHEN (status = 'in_progress'::text) THEN 1
            ELSE 0
        END) AS in_progress_tasks,
    sum(
        CASE
            WHEN (status = 'completed'::text) THEN 1
            ELSE 0
        END) AS completed_tasks,
    sum(
        CASE
            WHEN (status = 'failed'::text) THEN 1
            ELSE 0
        END) AS failed_tasks,
    avg(
        CASE
            WHEN ((status = 'completed'::text) AND (completion_time IS NOT NULL)) THEN EXTRACT(epoch FROM (completion_time - start_time))
            ELSE NULL::numeric
        END) AS avg_completion_time_seconds
   FROM public.tasks;


ALTER VIEW public.task_metrics OWNER TO postgres;

--
-- Name: task_shelf_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_shelf_options (
    task_id text NOT NULL,
    shelf_id text NOT NULL,
    position_x double precision NOT NULL,
    position_y double precision NOT NULL
);


ALTER TABLE public.task_shelf_options OWNER TO postgres;

--
-- Name: total_inventory_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.total_inventory_view AS
 SELECT i.item_id,
    i.name,
    sum(si.quantity) AS total_quantity,
    count(DISTINCT s.shelf_id) AS shelf_count
   FROM ((public.items i
     LEFT JOIN public.shelf_inventory si ON (((i.item_id)::text = (si.item_id)::text)))
     LEFT JOIN public.shelves s ON (((si.shelf_id)::text = (s.shelf_id)::text)))
  GROUP BY i.item_id, i.name;


ALTER VIEW public.total_inventory_view OWNER TO postgres;

--
-- Name: warehouse_map; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouse_map (
    id integer NOT NULL,
    width integer NOT NULL,
    height integer NOT NULL,
    grid_size numeric(5,3) NOT NULL,
    grid_data jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.warehouse_map OWNER TO postgres;

--
-- Name: TABLE warehouse_map; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.warehouse_map IS 'Warehouse layout and grid configuration';


--
-- Name: warehouse_map_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.warehouse_map_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.warehouse_map_id_seq OWNER TO postgres;

--
-- Name: warehouse_map_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.warehouse_map_id_seq OWNED BY public.warehouse_map.id;


--
-- Name: conflict_box_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_queue ALTER COLUMN id SET DEFAULT nextval('public.conflict_box_queue_id_seq'::regclass);


--
-- Name: kpi_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_logs ALTER COLUMN id SET DEFAULT nextval('public.kpi_logs_id_seq'::regclass);


--
-- Name: shelf_approach_cells id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_approach_cells ALTER COLUMN id SET DEFAULT nextval('public.shelf_approach_cells_id_seq'::regclass);


--
-- Name: shelf_inventory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_inventory ALTER COLUMN id SET DEFAULT nextval('public.shelf_inventory_id_seq'::regclass);


--
-- Name: simulation_metrics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_metrics ALTER COLUMN id SET DEFAULT nextval('public.simulation_metrics_id_seq'::regclass);


--
-- Name: warehouse_map id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_map ALTER COLUMN id SET DEFAULT nextval('public.warehouse_map_id_seq'::regclass);


--
-- Name: blocked_cells blocked_cells_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocked_cells
    ADD CONSTRAINT blocked_cells_pkey PRIMARY KEY (cell_id);


--
-- Name: conflict_box_locks conflict_box_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_locks
    ADD CONSTRAINT conflict_box_locks_pkey PRIMARY KEY (box_id);


--
-- Name: conflict_box_queue conflict_box_queue_box_id_robot_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_queue
    ADD CONSTRAINT conflict_box_queue_box_id_robot_id_key UNIQUE (box_id, robot_id);


--
-- Name: conflict_box_queue conflict_box_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_queue
    ADD CONSTRAINT conflict_box_queue_pkey PRIMARY KEY (id);


--
-- Name: conflict_box_queue_stats conflict_box_queue_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_queue_stats
    ADD CONSTRAINT conflict_box_queue_stats_pkey PRIMARY KEY (box_id);


--
-- Name: conflict_boxes conflict_boxes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_boxes
    ADD CONSTRAINT conflict_boxes_pkey PRIMARY KEY (box_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (item_id);


--
-- Name: kpi_logs kpi_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_logs
    ADD CONSTRAINT kpi_logs_pkey PRIMARY KEY (id);


--
-- Name: lanes lanes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_pkey PRIMARY KEY (lane_id);


--
-- Name: navigation_graph_edges navigation_graph_edges_from_node_to_node_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_edges
    ADD CONSTRAINT navigation_graph_edges_from_node_to_node_key UNIQUE (from_node, to_node);


--
-- Name: navigation_graph_edges navigation_graph_edges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_edges
    ADD CONSTRAINT navigation_graph_edges_pkey PRIMARY KEY (edge_id);


--
-- Name: navigation_graph_nodes navigation_graph_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_nodes
    ADD CONSTRAINT navigation_graph_nodes_pkey PRIMARY KEY (node_id);


--
-- Name: raw_orders raw_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_orders
    ADD CONSTRAINT raw_orders_pkey PRIMARY KEY (order_id);


--
-- Name: robots robots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.robots
    ADD CONSTRAINT robots_pkey PRIMARY KEY (robot_id);


--
-- Name: shelf_approach_cells shelf_approach_cells_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_approach_cells
    ADD CONSTRAINT shelf_approach_cells_pkey PRIMARY KEY (id);


--
-- Name: shelf_approach_cells shelf_approach_cells_shelf_id_grid_x_grid_y_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_approach_cells
    ADD CONSTRAINT shelf_approach_cells_shelf_id_grid_x_grid_y_key UNIQUE (shelf_id, grid_x, grid_y);


--
-- Name: shelf_inventory shelf_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_inventory
    ADD CONSTRAINT shelf_inventory_pkey PRIMARY KEY (id);


--
-- Name: shelf_inventory shelf_inventory_shelf_id_item_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_inventory
    ADD CONSTRAINT shelf_inventory_shelf_id_item_id_key UNIQUE (shelf_id, item_id);


--
-- Name: shelf_locks shelf_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_locks
    ADD CONSTRAINT shelf_locks_pkey PRIMARY KEY (shelf_id);


--
-- Name: shelves shelves_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelves
    ADD CONSTRAINT shelves_pkey PRIMARY KEY (shelf_id);


--
-- Name: simulation_metrics simulation_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulation_metrics
    ADD CONSTRAINT simulation_metrics_pkey PRIMARY KEY (id);


--
-- Name: task_shelf_options task_shelf_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_shelf_options
    ADD CONSTRAINT task_shelf_options_pkey PRIMARY KEY (task_id, shelf_id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (task_id);


--
-- Name: warehouse_map warehouse_map_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_map
    ADD CONSTRAINT warehouse_map_pkey PRIMARY KEY (id);


--
-- Name: idx_blocked_cells_robot; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocked_cells_robot ON public.blocked_cells USING btree (blocked_by_robot);


--
-- Name: idx_blocked_cells_unblock_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocked_cells_unblock_time ON public.blocked_cells USING btree (unblock_time);


--
-- Name: idx_conflict_box_locks_heartbeat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_locks_heartbeat ON public.conflict_box_locks USING btree (heartbeat_at);


--
-- Name: idx_conflict_box_locks_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_locks_priority ON public.conflict_box_locks USING btree (priority);


--
-- Name: idx_conflict_box_locks_robot; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_locks_robot ON public.conflict_box_locks USING btree (locked_by_robot);


--
-- Name: idx_conflict_box_queue_box_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_queue_box_id ON public.conflict_box_queue USING btree (box_id);


--
-- Name: idx_conflict_box_queue_box_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_queue_box_priority ON public.conflict_box_queue USING btree (box_id, priority DESC);


--
-- Name: idx_conflict_box_queue_priority_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_queue_priority_time ON public.conflict_box_queue USING btree (box_id, priority DESC, queue_time);


--
-- Name: idx_conflict_box_queue_robot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_queue_robot_id ON public.conflict_box_queue USING btree (robot_id);


--
-- Name: idx_conflict_box_queue_timeout; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_box_queue_timeout ON public.conflict_box_queue USING btree (timeout_time);


--
-- Name: idx_conflict_boxes_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conflict_boxes_position ON public.conflict_boxes USING btree (center_x, center_y);


--
-- Name: idx_kpi_logs_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kpi_logs_event_type ON public.kpi_logs USING btree (event_type);


--
-- Name: idx_kpi_logs_robot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kpi_logs_robot_id ON public.kpi_logs USING btree (robot_id);


--
-- Name: idx_kpi_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kpi_logs_timestamp ON public.kpi_logs USING btree ("timestamp");


--
-- Name: idx_lanes_bay_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lanes_bay_id ON public.lanes USING btree (bay_id) WHERE (bay_id IS NOT NULL);


--
-- Name: idx_lanes_direction; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lanes_direction ON public.lanes USING btree (direction);


--
-- Name: idx_navigation_graph_edges_from_node; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_navigation_graph_edges_from_node ON public.navigation_graph_edges USING btree (from_node);


--
-- Name: idx_navigation_graph_edges_to_node; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_navigation_graph_edges_to_node ON public.navigation_graph_edges USING btree (to_node);


--
-- Name: idx_navigation_graph_nodes_conflict_box; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_navigation_graph_nodes_conflict_box ON public.navigation_graph_nodes USING btree (conflict_box_id) WHERE (conflict_box_id IS NOT NULL);


--
-- Name: idx_navigation_graph_nodes_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_navigation_graph_nodes_position ON public.navigation_graph_nodes USING btree (position_x, position_y);


--
-- Name: idx_raw_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raw_orders_status ON public.raw_orders USING btree (status);


--
-- Name: idx_shelf_approach_cells_distance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_approach_cells_distance ON public.shelf_approach_cells USING btree (shelf_id, distance_to_shelf);


--
-- Name: idx_shelf_approach_cells_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_approach_cells_position ON public.shelf_approach_cells USING btree (approach_x, approach_y);


--
-- Name: idx_shelf_approach_cells_shelf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_approach_cells_shelf_id ON public.shelf_approach_cells USING btree (shelf_id);


--
-- Name: idx_shelf_inventory_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_inventory_item_id ON public.shelf_inventory USING btree (item_id);


--
-- Name: idx_shelf_inventory_shelf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_inventory_shelf_id ON public.shelf_inventory USING btree (shelf_id);


--
-- Name: idx_shelf_locks_robot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelf_locks_robot_id ON public.shelf_locks USING btree (robot_id);


--
-- Name: idx_shelves_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shelves_position ON public.shelves USING btree (position_x, position_y);


--
-- Name: idx_simulation_metrics_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_simulation_metrics_name ON public.simulation_metrics USING btree (metric_name);


--
-- Name: idx_simulation_metrics_run_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_simulation_metrics_run_id ON public.simulation_metrics USING btree (simulation_run_id);


--
-- Name: idx_simulation_metrics_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_simulation_metrics_timestamp ON public.simulation_metrics USING btree (metric_timestamp);


--
-- Name: idx_tasks_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_order_id ON public.tasks USING btree (order_id);


--
-- Name: idx_tasks_robot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_robot_id ON public.tasks USING btree (robot_id);


--
-- Name: idx_tasks_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tasks_status ON public.tasks USING btree (status);


--
-- Name: items update_items_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_items_updated_at BEFORE UPDATE ON public.items FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: robots update_robots_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_robots_updated_at BEFORE UPDATE ON public.robots FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: shelf_inventory update_shelf_inventory_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_shelf_inventory_updated_at BEFORE UPDATE ON public.shelf_inventory FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: shelves update_shelves_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_shelves_updated_at BEFORE UPDATE ON public.shelves FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: blocked_cells blocked_cells_blocked_by_robot_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocked_cells
    ADD CONSTRAINT blocked_cells_blocked_by_robot_fkey FOREIGN KEY (blocked_by_robot) REFERENCES public.robots(robot_id);


--
-- Name: conflict_box_locks conflict_box_locks_box_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_locks
    ADD CONSTRAINT conflict_box_locks_box_id_fkey FOREIGN KEY (box_id) REFERENCES public.conflict_boxes(box_id);


--
-- Name: conflict_box_locks conflict_box_locks_locked_by_robot_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_locks
    ADD CONSTRAINT conflict_box_locks_locked_by_robot_fkey FOREIGN KEY (locked_by_robot) REFERENCES public.robots(robot_id);


--
-- Name: conflict_box_queue_stats conflict_box_queue_stats_box_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_box_queue_stats
    ADD CONSTRAINT conflict_box_queue_stats_box_id_fkey FOREIGN KEY (box_id) REFERENCES public.conflict_boxes(box_id);


--
-- Name: raw_orders fk_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_orders
    ADD CONSTRAINT fk_item FOREIGN KEY (item_id) REFERENCES public.items(item_id);


--
-- Name: tasks fk_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fk_item FOREIGN KEY (item_id) REFERENCES public.items(item_id);


--
-- Name: tasks fk_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fk_order FOREIGN KEY (order_id) REFERENCES public.raw_orders(order_id);


--
-- Name: navigation_graph_edges navigation_graph_edges_from_node_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_edges
    ADD CONSTRAINT navigation_graph_edges_from_node_fkey FOREIGN KEY (from_node) REFERENCES public.navigation_graph_nodes(node_id);


--
-- Name: navigation_graph_edges navigation_graph_edges_to_node_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_edges
    ADD CONSTRAINT navigation_graph_edges_to_node_fkey FOREIGN KEY (to_node) REFERENCES public.navigation_graph_nodes(node_id);


--
-- Name: navigation_graph_nodes navigation_graph_nodes_conflict_box_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.navigation_graph_nodes
    ADD CONSTRAINT navigation_graph_nodes_conflict_box_id_fkey FOREIGN KEY (conflict_box_id) REFERENCES public.conflict_boxes(box_id);


--
-- Name: raw_orders raw_orders_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_orders
    ADD CONSTRAINT raw_orders_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(item_id);


--
-- Name: shelf_approach_cells shelf_approach_cells_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_approach_cells
    ADD CONSTRAINT shelf_approach_cells_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(shelf_id) ON DELETE CASCADE;


--
-- Name: shelf_inventory shelf_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_inventory
    ADD CONSTRAINT shelf_inventory_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(item_id) ON DELETE CASCADE;


--
-- Name: shelf_inventory shelf_inventory_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_inventory
    ADD CONSTRAINT shelf_inventory_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(shelf_id) ON DELETE CASCADE;


--
-- Name: shelf_locks shelf_locks_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shelf_locks
    ADD CONSTRAINT shelf_locks_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(shelf_id) ON DELETE CASCADE;


--
-- Name: task_shelf_options task_shelf_options_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_shelf_options
    ADD CONSTRAINT task_shelf_options_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(shelf_id);


--
-- Name: task_shelf_options task_shelf_options_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_shelf_options
    ADD CONSTRAINT task_shelf_options_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(task_id) ON DELETE CASCADE;


--
-- Name: tasks tasks_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(item_id);


--
-- Name: tasks tasks_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.raw_orders(order_id);


--
-- PostgreSQL database dump complete
--

